/* 100vh will inforce contend to 100%*/

body {
    margin: 0%;
}

.block {
    position: absolute;
}


/* set tag a form, let it to be a circle and text in it placed at center*/

a {
    position: absolute;
    background-color: chocolate;
    border-radius: 100%;
    cursor: pointer;
    width: 130px;
    height: 130px;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    line-height: 2;
    text-align: center;
}

#mainCanvas {
    background-size: 100%, 100%;
    background-repeat: repeat;
    background-image: url(../img/happyChristmas.jpg);
}


/* set audio form and position to left&top and also opacity*/

audio {
    float: left;
    min-width: 15%;
    z-index: 1;
    opacity: 0.6;
}