body {
    background-image: url("../img/HP.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
} 

div { 
    text-align:center;
    vertical-align:middel;
    font-size:large;
    color:white;
}

p{
    text-align:center;
    vertical-align:middel;
    font-size:xx-large;
    color:white;
}
q{
    text-align:center;
    vertical-align:middel;
}