body {
    font-family: 'Open Sans', sans-serif;
    background: #3498db;
    text-align: center;
  }

.error {
    color: red;
}
.success {
    color: green;
}

#home {
    position: absolute;
    left: 10px;
    top: 8px;
}

.button {
    padding: 8px 1% 8px 12px;
}