body {
  font-family: 'Open Sans', sans-serif;
  background: #3498db;
  text-align: center;
}

.box {
  background: white;
  width: 300px;
  height: 150px;
  border-radius: 6px;
  border: #2980b9 4px solid;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.username {
  background: #ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width: 250px;
  color: #AAAAAA;
  margin-top: 10px;
  font-size: 1em;
  border-radius: 4px;
}

.password {
  border-radius: 4px;
  background: #ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width: 250px;
  font-size: 1em;
}

.btn {
  background: #2ecc71;
  width: 125px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 4px;
  border: #27ae60 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 0.8em;
}

.btn:hover {
  background: #2CC06B;
}

.error {
  color: red;
}

#home {
  position: absolute;
  left: 10px;
  top: 8px;
}

.button {
  padding: 8px 1% 8px 12px;
}